@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    color: var(--text-color);
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

html, body {
    background-color: var(--background-color);
}